<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <script defer src="/client.js"></script>
    <title>REST_TEST</title>
  </head>
  <body>
    <h1>Jacked Up And Good To Go</h1>
    <form id="form" action="/" method="post">
      <input
        id="quote-input"
        type="text"
        placeholder="Add quote..."
        name="quote"
      />
      <button type="submit">ADD</button>
      <span id="msg-error"></span>
    </form>
    <div class="container">
      <ul class="quotes">
        <%Data.map(quote=>{%>
        <li><%=quote.title%></li>
        <%})%>
      </ul>
    </div>
  </body>
</html>
